.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Breadcrumb*/
.breadcrumb {
  margin-top: 1em;
  margin-bottom: 1em;
}
.breadcrumb span{
  padding-left: 5px;
  color: black;
  font-weight: 500;
}
/* Navegación */

.p-navbar{
  background: indianred;
}

/*Producto*/
.productpage h2{
  margin-top: 0.3em;
}
.productbrand {
  color: #888;
}
.precio{
  font-size: 1.6em;
  font-weight: 600;
  display: inline-block;
}
.precio:before{
  content:"$ ";
}
.preciocompare{
  margin-left:10px;
  font-size: 1.4em;
  font-weight: 400;
  color:#888888;
  display: inline-block;
  text-decoration: line-through;
}
.preciocompare:before{
  content:"$ ";
}
.separator{
  height: 1px;
  background: #ddd;
  margin: 1em 0;
}
.form-select{
  margin-top: 10px;
}
.content-button{
  margin-top: 30px;
  margin-bottom: 20px;
}

button.btn-product-add-favorite{
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}
button.btn-product-add-favorite:hover{

}
button.btn-product-add-cart{
  width: 100%;
  padding: 10px;
  border: none;
  background:#222222;
  color:#eeeeee;
  margin-bottom: 10px;
}
button.btn-product-add-cart:hover{

}

.input-quantity{
  max-width: 100px;
}
.content-total-price{
  float: right;
}
.lbl-variant {
    padding: 14px 0px;
}
.lbl-total-price{
  color: #888;
}
.value-total-price{
  margin-left: 5px;
  color: #333;
  font-weight: 600;;
}
.value-total-price:before{
  content: "$ ";
}
/* Carousel */

.carousel{
  border: solid 1px #ddd;
  margin-bottom: 1em;
}

.carousel-item{
  transition: transform 1s ease, opacity .5s ease-out;
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%c'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 0.708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%c'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel-indicators button {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators button.active {
  background-color: #444;
}

/*Modal add cart*/
.modal-add-cart h5{
    color: #247a24;
    text-align: center;
    width: 100%;
}
.modal-add-cart h6{
  font-size: 1.3em;
}
.modal-add-cart .lbl-variant{
  width: 50px;
  display: inline-block;
}
.modal-add-cart .value-variant{
  font-weight: 600;
}
.modal-add-cart .separator-variant{
  width: 2px;
  background-color: #bbb;
  display: inline-block;
  overflow: hidden;
  height: 12px;
  margin-left: 7px;
  margin-right: 7px;
}
.modal-add-cart .quantity{
  font-size: 1.1em;
  font-weight: 500;
  color: #555;
  margin-top: 3px;
}
.modal-add-cart .totalprice{
  font-size: 1.1em;
  font-weight: 500;
  color: #555;
}
.modal-add-cart .btn-view-cart{
  padding: 10px;
  border: none;
  background: #222222;
  color: #ffffff;
  border-radius: 0px;
}
.modal-add-cart .btn-close-modal{
  padding: 10px;
  border: none;
  background: #222222;
  color: #ffffff;
  border-radius: 0px;
}
.modal-add-cart .icon-check{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check-square' viewBox='0 0 16 16'%3E%3Cpath d='M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z'/%3E%3C/svg%3E");
}
.product-thumbnail{
  width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
